# Pandas II â€” CRUD & Query over DataFrames

Small cells; each operation is visible.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 10)
print("pandas", pd.__version__)

In [ ]:
# Build a tiny, reproducible dataset
data = {
    "State": ["CA","CA","CA","CA"],
    "Sex":   ["F","F","F","F"],
    "Year":  [1910,1910,1910,1910],
    "Name":  ["Mary","Helen","Dorothy","Margaret"],
    "Count": [295,239,220,163]
}
babynames = pd.DataFrame(data)
babynames

## CRUD & Query Operations

### Create: concat rows (axis=0)

In [ ]:
rows = [("CA","M",2023,"Atlas",9), ("CA","F",2024,"Mira",7)]
new_rows = pd.DataFrame(rows, columns=babynames.columns)
babynames_rows = pd.concat([babynames, new_rows], ignore_index=True)
babynames_rows.tail(3)

**Exercise** ðŸ”§

Append two new rows to `babynames` using `pd.concat` but **keep only unique** rows (hint: `drop_duplicates`).

_Write your code in the next cell._

In [ ]:
# your work here

### Create: concat columns (axis=1)

In [ ]:
extra = pd.DataFrame({"source":["SSA"]*len(babynames)})
by_cols = pd.concat([babynames, extra], axis=1)
by_cols.head(2)

**Exercise** ðŸ”§

Using `pd.concat(axis=1)`, attach a column `region='West'` to `babynames`.

_Write your code in the next cell._

In [ ]:
# your work here

### Create: assign (derive column)

In [ ]:
with_decade = babynames.assign(decade=(babynames["Year"]//10)*10)
with_decade.head(2)

**Exercise** ðŸ”§

Add a column `name_upper` as the uppercase of `Name` using `.assign`. Show the first 3 rows.

_Write your code in the next cell._

In [ ]:
# your work here

### Create: insert column at position

In [ ]:
df_ins = babynames.copy()
df_ins.insert(0, "state_sex", df_ins["State"].str.cat(df_ins["Sex"], sep="-"))
df_ins.head(2)

**Exercise** ðŸ”§

Insert a column named `year_label` at the last position with value like `'Y1910'` built from `Year`.

_Write your code in the next cell._

In [ ]:
# your work here

### Create: add a single row via .loc[new_index]

In [ ]:
df_add = babynames.copy()
df_add.loc[len(df_add)] = ["CA","F",2023,"Nova",12]
df_add.tail(2)

**Exercise** ðŸ”§

Using `.loc`, add a row for (`CA`,`M`,2025,`Leo`,5). Print the last 2 rows.

_Write your code in the next cell._

In [ ]:
# your work here

### Create: reindex to add missing labels

In [ ]:
df_re = babynames.set_index("Name")
df_re = df_re.reindex(df_re.index.tolist()+["Alice"])
df_re.tail(3)

**Exercise** ðŸ”§

Reindex `babynames` so that it contains an index for `'Zoe'` in the Name index (set `Name` as index first).

_Write your code in the next cell._

In [ ]:
# your work here

### Update: loc set by label mask

In [ ]:
df_upd = babynames.copy()
ix = (df_upd["Name"]=="Mary") & (df_upd["Year"]==1910)
df_upd.loc[ix, "Count"] = df_upd.loc[ix, "Count"] + 1
df_upd.head(2)

**Exercise** ðŸ”§

Increase `Count` by 10 for all rows where `Count < 200` using `.loc` with a mask.

_Write your code in the next cell._

In [ ]:
# your work here

### Update: at single scalar set

In [ ]:
df_at = babynames.copy()
df_at.at[0, "Count"] = df_at.at[0, "Count"] + 2
df_at.head(2)

**Exercise** ðŸ”§

Using `.at`, set the cell (row 1, column `Name`) to `'MARY'` (index 0). Print the first row.

_Write your code in the next cell._

In [ ]:
# your work here

### Update: where keep/replace

In [ ]:
df_wh = babynames.copy()
cond = df_wh["Count"] >= 230
df_wh["pop_flag"] = df_wh["Count"].where(cond, other=np.nan)
df_wh[["Name","Count","pop_flag"]]

**Exercise** ðŸ”§

Create column `zero_small` that keeps `Count` where `Count>=200` else 0 using `.where`. Show Name/Count/zero_small.

_Write your code in the next cell._

In [ ]:
# your work here

### Update: mask replace where condition true

In [ ]:
df_ms = babynames.copy()
cond = df_ms["Count"] < 200
df_ms["Count_masked"] = df_ms["Count"].mask(cond, other=0)
df_ms[["Name","Count","Count_masked"]]

**Exercise** ðŸ”§

Using `.mask`, replace `Count` values >= 230 with `999`. Show Name/Count/new column.

_Write your code in the next cell._

In [ ]:
# your work here

### Update: replace mapping

In [ ]:
df_rp = babynames.copy()
df_rp["Sex2"] = df_rp["Sex"].replace({"F":"Female","M":"Male"})
df_rp[["Sex","Sex2"]].head()

**Exercise** ðŸ”§

Replace names `{'Mary':'M.', 'Helen':'H.'}` in a new column `abbr` via `.replace`. Show Name/abbr.

_Write your code in the next cell._

In [ ]:
# your work here

### Delete: drop rows by label

In [ ]:
df_dr = babynames.copy()
to_remove = df_dr.index[:2]
df_dr2 = df_dr.drop(index=to_remove)
df_dr2.head()

**Exercise** ðŸ”§

Drop the last two rows by index labels. Show resulting shape.

_Write your code in the next cell._

In [ ]:
# your work here

### Delete: drop columns

In [ ]:
df_dc = babynames.drop(columns=["Sex"])
df_dc.head(2)

**Exercise** ðŸ”§

Drop the `State` column. Print the remaining columns.

_Write your code in the next cell._

In [ ]:
# your work here

### Delete: dropna on subset

In [ ]:
df_na = babynames.copy()
df_na.loc[1, "Count"] = np.nan
clean = df_na.dropna(subset=["Count"])
clean

**Exercise** ðŸ”§

Introduce a NaN into `Name` (e.g., row 2), then drop rows where `Name` is NA.

_Write your code in the next cell._

In [ ]:
# your work here

### Delete: pop a column

In [ ]:
df_pop = babynames.copy()
cnt = df_pop.pop("Count")  # returns a Series
type(cnt), cnt.head(3)

**Exercise** ðŸ”§

Pop the `Sex` column into a Series called `sx`, and print its `.unique()` values.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: boolean filter with .loc

In [ ]:
mask = (babynames["Name"].isin(["Mary","Helen"])) & (babynames["Count"]>200)
babynames.loc[mask, ["Name","Count"]]

**Exercise** ðŸ”§

Select rows where `Name` is in {`Dorothy`,`Margaret`} and `Count>=200`. Show Name/Count.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: .query string

In [ ]:
babynames.query("Count >= 220 and Name in ['Mary','Helen']")[["Name","Count"]]

**Exercise** ðŸ”§

Using `.query`, get rows with `Count<230` or `Name=='Mary'`. Show Name/Count.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: drop_duplicates

In [ ]:
pairs = babynames[["Year","Name"]].drop_duplicates()
pairs.head()

**Exercise** ðŸ”§

Create a DataFrame of unique `Sex, Year` pairs. Show the result.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: sort_values

In [ ]:
babynames.sort_values(["Count","Name"], ascending=[False,True]).head(3)

**Exercise** ðŸ”§

Sort by `Name` ascending and `Count` descending. Show all rows.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: groupby + agg

In [ ]:
per_year = (babynames.groupby("Year")["Count"]
            .agg(total="sum", avg="mean"))
per_year

**Exercise** ðŸ”§

Compute total and max of `Count` per `Sex`. Show the result.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: merge (equi-join on Year)

In [ ]:
yr_total = (babynames.groupby("Year")["Count"].sum()
            .rename("year_total").reset_index())
joined = pd.merge(babynames, yr_total, on="Year", how="left")
joined.head(3)

**Exercise** ðŸ”§

Perform a left join that adds `sex_total = sum(Count) per Sex` to each row.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: crosstab

In [ ]:
pd.crosstab(index=babynames["Year"], columns=babynames["Name"])

**Exercise** ðŸ”§

Build a crosstab of `Name` by `Sex`.

_Write your code in the next cell._

In [ ]:
# your work here

### Query: pivot_table

In [ ]:
babynames.pivot_table(index="Year", columns="Sex", values="Count",
                      aggfunc="sum", fill_value=0, margins=True)

**Exercise** ðŸ”§

Create a pivot table of `index=Sex, columns=Name` showing `max(Count)` with `fill_value=0`.

_Write your code in the next cell._

In [ ]:
# your work here